* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

body {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 200px;
    margin-right: 160px;
    margin-top: 30px;
    padding: 10px;
}

img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    animation: drop 1s ease;
}

@keyframes drop {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

header h2 {
    font-family: "Brush Script MT", cursive;
    width: 80%;
    animation: scaling 1s ease 1.2s;
}

@keyframes scaling {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scale(1);
    }
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
    width: 40%;
}

a {
    text-decoration: none;
    color: black;
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 1s ease;
}

a:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 0px 0.5px rgb(227, 218, 218);
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro {
    width: auto;
    height: auto;
    position: relative;
}

.intro input {
    height: 50px;
    width: 230px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: large;
    border-style: none;
    transition: all 1s ease;
}

[type="button"]:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: gold;
}

[type="button"]:hover {
    transform: scale(105%);
}

.Web {
    border: 1px solid rgb(164, 162, 162);
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

.founders {
    margin-top: 50px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}

.amitKumar,
.shradha {
    padding-top: 70px;
    height: 170px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;

}

.amitKumar {
    background-color: rgb(102, 102, 110);
    color: whitesmoke;
    animation: translate-left 3s ease 1s;
}

@keyframes translate-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.shradha {
    background-color: rgb(251, 196, 206);
    animation: translate-right 3s ease 1s;
}

@keyframes translate-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.shradha img {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 150px;
    top: -15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: zoomOut 2s ease 5s;
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.amitKumar img {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 150px;
    top: -15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: zoomOut 2s ease 5s;
}

.projects {
    padding: 10px;
    margin-top: 30px;
    height: auto;
    width: auto;
    border: 1px solid rgb(164, 162, 162);
    border-radius: 10px;
}

.projects input {
    height: 50px;
    width: 400px;
    border: 1px solid rgb(164, 162, 162);
    border-radius: 10px;
    padding-left: 20px;
}

.idea input {
    height: 100px;
    width: 700px;
}

.idea input::placeholder {
    position: absolute;
    top: 15px
}

.submit input {
    width: 200px;
    margin-bottom: 20px;
    background-color: rgb(131, 7, 220);
    color: white;
    border-style: none;
    font-size: large;
}