.container{
    border:1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    background-color: rgb(241, 177, 177);
    padding: 10px; 
}

h1 + .adjacent1{
    background-color: rgb(199, 158, 238);
    padding: 5px; 
    margin-bottom: 5px;
}

h1 + .adjacent1 + .adjacent2{
    background-color:rgb(162, 162, 234);
    padding: 5px;
    margin-bottom: 5px;
}

h1 + .adjacent1 + .adjacent2 + .adjacent3{
    background-color:rgb(192, 243, 226);
    padding: 5px;
    margin-bottom: 5px; 
}