.navBar{
    background-color: black;
    color: white;    
}
.navBar ul{
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
} 
    

@media only screen and (max-width:600px) and (min-width:200px){
.navBar ul{
    height: 100px;
    width: auto;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    transition: all 1s linear;  
}
}