.container{ 
    height: auto;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    /* align-items: center; */
    /* justify-content:space-between; */
    /* flex-direction: column; */
    flex-wrap: wrap;
 
}
.box{
    height: 100px;
    background-color: aquamarine;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.box5{
    flex-grow:2;
}
