* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:5px;
    background-color: rgb(14, 11, 11);
}

footer{
    background-color:rgb(14, 11, 11);
    padding: 2%;
    display:flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.image {
    padding-left: 1%;
    padding-top: 2px;
    width: 15rem;
    height: 5rem;
    /* height:10%; */
    /* flex-grow: 1; */
}

.image>img {
    width: 100%;
    height:100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex: 1 1
}

nav>input{
    width:40%
}

nav>a, ::placeholder {
    text-decoration: none;
    padding: 10px 40px;
    background-color: whitesmoke;
    border-radius: 5px;
    font-weight: 500;
    color: black;
}

::placeholder{
    font-weight: 500;
    font-size: large;
    color: rgb(79, 77, 77);
}

nav>a:hover {
    box-shadow: rgb(176, 176, 176) 0px 3px 10px 1px;
    transition: transform .3s ease;
    transform: scale(1.1);
}

.card:hover{
     box-shadow: rgb(176, 176, 176) 0px 3px 10px 1px;
    transition: transform .3s ease;
    transform: scale(1.02);
}

#cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.card {
    /* margin: 10px; */
    width: 25%;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* padding: 0px; */
    flex-grow: 1;

}

.card>.img-div {
     width: 100%;
     height: 100%;
 }

.card>.img-content {
    width: 60%;
    line-height:1.5em;
}

.card>div img {
    max-height:fit-content;
    max-width:100%;
    padding: 0;
}

#star1{
    color: gold;
}

#header2{
    width:38%;
    margin: 1% 31%;
     height: 100px;
    display: flex;
    /* background-color: rgb(222, 210, 42); */
    background: linear-gradient(125deg, rgb(242, 138, 138) 0%, rgb(193, 243, 13) 100%);
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

#header2:hover{
    transform: scale(1.1);
    transition: all .3s ease;   
}

#header2>h1{
    color: rgb(243, 6, 6);
}

#addCart{
    margin-top: 15%;
    padding:5% 10%;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 5px;
}

#addCart:active{
    background-color: rgb(216, 187, 23);
    color: black;
}

#cartItems{
     padding-bottom: 3%;
    width: 100vw;
}

i{
    color: silver;
}

.addCarts{
    text-align: center;
}

table{
     
    margin:auto 30vw;
    width: 40vw;
    text-align: center;
}

#total{
    margin-left:57.5%;
    margin-right:30%;
    background-color: darkorange;
    border: 1px solid black;
    width: 10em;
}