body{
    border: solid 1px;
    border-color: black;
        
}

body div{
    background-color:rgb(251, 229, 185)
}

body div h1{
    background-color: burlywood;
    color: red;
}

div section{
    background-color: rgb(229, 246, 246);
}

div section p{
color: rgb(14, 85, 62);
}

div section span{
    color: blue;
}

.content article{      
     color:brown;
     background-color: rgb(174, 225, 22);
}   

.content article div{      
     color:brown;
     background-color: rgb(174, 225, 22);
}   
 
footer{
    background-color: brown;
}
 