<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .hearderDiv {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: brown;
        }

        .logo {
            display: flex;
            width: 30%;
            padding: 5px;
        }

        .navBar {
            display: flex;
            justify-content: space-evenly;
            width: 70%;
        }

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: large;
            font-weight: bold;
            color: aliceblue;
        }

        .background {
            background-image: url('https://t3.ftcdn.net/jpg/02/34/64/36/240_F_234643606_cOplcFsbIuYxeNF7HwTYEOSJPb9XlCjD.jpg');
            /* background-repeat: no-repeat; */
            background-size: cover;
            background-attachment: fixed;

        }
    </style>

    <title>layouts</title>
</head>

<body>
    <!-- header starts here -->
    <div class="hearderDiv">
        <div class="logo">
            <a href="#"><img src="/assets/Images/grr3.png" alt="grr-logo" height="100px" width="150px"></a>
        </div>

        <!-- navBar starts here -->
        <div class="navBar">

            <a href="#">
                Home
            </a>
            <a href="#">
                Products Items
            </a>
            <a href="#">
                SignIn
            </a>
            <a href="#">
                Reviews
            </a>

            </ul>
        </div>
        <!-- navBar starts here -->

    </div>

    <!-- header ends here -->
    <section class="background">
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cupiditate fugit impedit. Sequi nulla velit
        numquam odio voluptas beatae ipsum quos autem sint incidunt, cum rerum illum voluptatum dolores. Eum maiores
        explicabo consequuntur qui tempora, ab totam nemo. Eum, corrupti! Officia praesentium odit rerum in voluptatibus
        eius. Cumque, praesentium. Exercitationem incidunt nam distinctio reprehenderit quibusdam, voluptates numquam
        magnam ducimus asperiores consequatur nesciunt provident eveniet dolores, dolore facilis saepe. Porro
        consectetur adipisci dolor vitae tempora illo! Facilis laborum voluptatum perspiciatis sed impedit, incidunt
        possimus ducimus, mollitia minus debitis aperiam fugit accusantium fugiat soluta asperiores quibusdam, sunt
        aspernatur ex minima tenetur doloremque amet eum. Iure nulla, natus quia repudiandae sapiente quod fuga,
        laudantium labore iste, quasi accusantium excepturi cumque odit amet? Ipsum eaque debitis corrupti fugiat totam
        quas, ad dolores? Explicabo ducimus hic minima, natus porro unde odio, non nostrum animi nihil ratione. Aperiam
        quis sapiente pariatur eveniet alias dolore minima animi accusamus, eaque quidem molestiae impedit dicta nihil
        quae ea nobis. Culpa fugiat voluptatum harum est, ut cum quo! Reiciendis provident harum debitis nihil iusto
        facere deleniti natus assumenda dolorem, blanditiis corrupti est libero sit delectus fuga maiores explicabo
        quae. Asperiores pariatur doloribus hic quisquam laborum, reiciendis debitis at voluptates vitae, necessitatibus
        sunt iusto officiis quasi beatae repellendus! Ipsum eos culpa facere minus quidem vel et suscipit maiores
        accusantium assumenda iusto, aliquam sequi cupiditate alias doloremque ratione eius, blanditiis esse excepturi
        corporis harum perspiciatis porro mollitia. Magni dolor deserunt alias numquam earum fugit, perferendis itaque
        velit vitae voluptatum. Praesentium non similique ipsum, labore vero excepturi officiis architecto reprehenderit
        temporibus tenetur, quae reiciendis doloribus dolores minima, qui iusto dolore. Delectus error optio, reiciendis
        earum ex maiores magnam at. Exercitationem voluptatem dolor omnis quis, reprehenderit dolores id quia natus
        porro doloremque. Sit quasi facere magni asperiores necessitatibus doloribus, esse nulla id quis, expedita ad
        nesciunt quisquam excepturi atque amet velit minima suscipit eos molestias adipisci quia reprehenderit saepe
        ullam! Unde sed provident ipsa cumque saepe voluptas officia ex? Minus deleniti consectetur quod! Dignissimos
        veniam accusantium ipsa sequi quasi, ducimus assumenda! Eius id maxime tempora dolorum labore quis, voluptatibus
        sed praesentium minus repellat accusamus consectetur, ipsa sequi ullam molestias, obcaecati facere sit quo
        explicabo aut beatae? Qui, accusamus omnis cupiditate modi expedita sapiente id voluptate ut deleniti ipsam
        ducimus earum nobis quia dolor quibusdam corrupti consectetur molestias sunt iste, nisi laboriosam tempore. Nemo
        voluptates laudantium modi sed illum architecto repellat sunt eos perspiciatis distinctio nisi numquam,
        voluptatum, eaque enim sint dignissimos omnis, in atque magni officia. Molestias fuga similique ut unde, vero
        possimus repellat dolore aut officiis? Placeat nesciunt minus eveniet id facere inventore molestias eligendi
        delectus, perspiciatis tempore aspernatur nisi quisquam, voluptas ex itaque? Natus, debitis? Quos, id sit.
        Itaque eum alias, ipsam ea, soluta similique neque dolor praesentium mollitia corrupti nostrum dolores illo sunt
        suscipit sint officiis excepturi? Sequi in voluptas maxime dignissimos sunt reiciendis quos. Fugiat quos
        voluptatibus porro illum sed est, corrupti, quasi beatae doloremque similique at vero libero dolores nesciunt
        explicabo obcaecati error cupiditate iste veniam ipsa laudantium accusamus. Consectetur dignissimos sunt iste et
        animi eligendi illo placeat vero. Quaerat odit quisquam iusto necessitatibus cumque asperiores ex obcaecati
        beatae recusandae perferendis neque autem ipsam non impedit a placeat eum fugiat, maxime sequi ullam, eligendi,
        fuga repellat. Veritatis, ipsam delectus. Doloribus voluptatum, alias ducimus labore nihil accusantium
        voluptates ipsum repellendus nostrum explicabo! Mollitia ea esse blanditiis corporis doloribus perspiciatis id
        nam consectetur ducimus nulla rerum enim neque a eaque reprehenderit suscipit vitae, ipsa tenetur? Odio
        repellendus fugit magni. Alias sequi esse, id aliquam nihil nam omnis corrupti veritatis, neque illo architecto
        eligendi, vitae temporibus. At animi consectetur non asperiores corrupti, veritatis deleniti unde illo rerum
        quisquam, ullam facere voluptatum, ea inventore neque amet consequatur provident. Ab quisquam fuga iure eaque,
        magnam, voluptas, doloremque odio consequatur aspernatur provident ut. Quia, officia quas quam nesciunt neque
        dolorem a alias earum, maxime ducimus expedita laboriosam obcaecati aliquid ea repudiandae cum, illum distinctio
        cupiditate perferendis! Sint pariatur nisi ipsa assumenda minus voluptates, dolore omnis eum adipisci placeat
        libero, enim consequuntur sunt numquam blanditiis nobis asperiores, quis sit odio? Itaque necessitatibus est
        odio ducimus. Magnam sequi cumque voluptatibus ullam ipsa amet odio dolor accusantium dolores nisi, aperiam,
        tempore, obcaecati quae enim quam exercitationem? Dolore obcaecati veritatis rerum officia reprehenderit natus
        magnam, incidunt laboriosam quisquam est repellendus nobis placeat excepturi saepe officiis modi unde tenetur
        odio? Maxime reprehenderit earum adipisci, incidunt nulla saepe aut facere? Laborum quam adipisci libero fugiat
        dolores temporibus quisquam magni, voluptatibus mollitia ipsa at nostrum deleniti inventore corporis repellat
        quibusdam vel veritatis ducimus nulla necessitatibus, error incidunt. Temporibus nobis quod, fugit animi,
        cupiditate reprehenderit, commodi odio officiis mollitia velit culpa laudantium veniam harum soluta et vero
        nostrum quas sunt reiciendis qui. Facere, similique vel animi quibusdam corporis expedita sed maxime quae
        adipisci alias optio reiciendis eligendi incidunt nihil harum repudiandae aliquid eaque consectetur nam? Nihil
        ullam id similique amet, commodi qui iste voluptas consequuntur tenetur quos libero eius reprehenderit!
        Cupiditate molestiae quos nulla? Magni dolorum ducimus obcaecati. Saepe ex sapiente iusto assumenda fuga eaque
        voluptatem, voluptatum pariatur, dolor quasi minima reiciendis libero! Iste, porro facere praesentium dicta quae
        hic corrupti ipsum dolorum numquam, alias eaque. Architecto tempore quis culpa accusantium dolor exercitationem
        fugiat minima unde harum reiciendis dicta qui nam quas quam perferendis cumque doloribus a laudantium est quod,
        expedita maiores voluptatum! Perferendis non ducimus est reiciendis dolorem? Suscipit, fuga. Inventore
        accusantium iure expedita natus quia aliquid laborum ab sit qui nemo esse, praesentium corrupti distinctio,
        repellendus voluptatibus facere mollitia unde. Quos cum cupiditate ipsam laboriosam, nobis fugiat itaque
        assumenda dolores nulla perspiciatis nihil nisi illum natus repellendus culpa sapiente commodi quod aut iusto?
        Aspernatur fugiat exercitationem molestias quisquam illo laborum et expedita at dolorem mollitia suscipit
        quibusdam explicabo aliquam possimus culpa magnam harum repellendus modi laboriosam totam, porro quo? Quo
        temporibus non cupiditate labore distinctio minus aspernatur expedita provident, quis accusantium ratione
        repellat ducimus, explicabo iusto quaerat optio. Itaque quis adipisci impedit nobis illum tempora voluptatum
        deserunt, sed sint? Magni ex, sapiente amet ad mollitia ipsum commodi nobis architecto odit necessitatibus.
    </section>

    <footer>
        <fieldset style="background-color: black; display: flex; justify-content: space-evenly;">
            <span style="color: aliceblue;"> </span><a href="#">CreatedBy: &nbsp; @ranjith_kadam</a>
     
 <a href="">GitHub</a>  <a href="">LinkedIn</a> <a href="">all@copyrights reserved</a>  
        </fieldset>
    </footer>
</body>

</html>