
body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: rgb(236, 231, 231);
    margin:10% 20%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius:8px;
    
}
table{
     margin:  20px 20px ;
     color: black;
}

form>h2{
    background-color: white;
    margin:5px;
    text-align: center;
}

form>h2, form{
    color: red;
    text-align: center;
}
form>p{
    color: rgb(10, 10, 10);
    text-align: center;
}

button{
    background-color: rgb(58, 58, 224);
    color: white;
    font-weight: 600;
    height: 30px;
    width: 250px;
    margin-left: 30%;
    border-style: none;
    border-radius: 5px;
}