/* 

    Box Model CSS : 

    Box model is a fundamental concept in CSS that describes the rectangular boxes generated for elements in the document tree. It consists of four areas: content, padding, border, and margin.


    Content :   This is the innermost part of the box where text and images appear. The size of the content area can be controlled using properties like width and height.

    Padding :   This is the space between the content and the border. It creates space inside the box, around the content. The padding can be set using properties like padding-top, padding-right, padding-bottom, and padding-left, or using the shorthand property padding.

    Border :    This is the area that wraps around the padding (if any) and content. The border can be styled using properties like border-width, border-style, and border-color, or using the shorthand property border.

    Margin :    This is the outermost area that creates space between the element and other elements on the page. Margins can be set using properties like margin-top, margin-right, margin-bottom, and margin-left, or using the shorthand property margin.


*/


.box{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    background-color: aqua;
    margin-top: 20px;
    padding:20px;
    margin:100px;
}